<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzb.dbserviceimpl.mapper.AdjacentClosureMapper" >
  <resultMap id="BaseResultMap" type="com.wzb.pojo.AdjacentClosure" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="ancestor" property="ancestor" jdbcType="INTEGER" />
    <result column="descendant" property="descendant" jdbcType="INTEGER" />
    <result column="depth" property="depth" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, project_name, ancestor, descendant, depth
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wzb.pojo.AdjacentClosureExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from adjacent_closure
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from adjacent_closure
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from adjacent_closure
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wzb.pojo.AdjacentClosureExample" >
    delete from adjacent_closure
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wzb.pojo.AdjacentClosure" >
    insert into adjacent_closure (id, project_name, ancestor, 
      descendant, depth)
    values (#{id,jdbcType=INTEGER}, #{projectName,jdbcType=VARCHAR}, #{ancestor,jdbcType=INTEGER}, 
      #{descendant,jdbcType=INTEGER}, #{depth,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wzb.pojo.AdjacentClosure" >
    insert into adjacent_closure
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="ancestor != null" >
        ancestor,
      </if>
      <if test="descendant != null" >
        descendant,
      </if>
      <if test="depth != null" >
        depth,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="ancestor != null" >
        #{ancestor,jdbcType=INTEGER},
      </if>
      <if test="descendant != null" >
        #{descendant,jdbcType=INTEGER},
      </if>
      <if test="depth != null" >
        #{depth,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wzb.pojo.AdjacentClosureExample" resultType="java.lang.Integer" >
    select count(*) from adjacent_closure
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update adjacent_closure
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.projectName != null" >
        project_name = #{record.projectName,jdbcType=VARCHAR},
      </if>
      <if test="record.ancestor != null" >
        ancestor = #{record.ancestor,jdbcType=INTEGER},
      </if>
      <if test="record.descendant != null" >
        descendant = #{record.descendant,jdbcType=INTEGER},
      </if>
      <if test="record.depth != null" >
        depth = #{record.depth,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update adjacent_closure
    set id = #{record.id,jdbcType=INTEGER},
      project_name = #{record.projectName,jdbcType=VARCHAR},
      ancestor = #{record.ancestor,jdbcType=INTEGER},
      descendant = #{record.descendant,jdbcType=INTEGER},
      depth = #{record.depth,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wzb.pojo.AdjacentClosure" >
    update adjacent_closure
    <set >
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="ancestor != null" >
        ancestor = #{ancestor,jdbcType=INTEGER},
      </if>
      <if test="descendant != null" >
        descendant = #{descendant,jdbcType=INTEGER},
      </if>
      <if test="depth != null" >
        depth = #{depth,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wzb.pojo.AdjacentClosure" >
    update adjacent_closure
    set project_name = #{projectName,jdbcType=VARCHAR},
      ancestor = #{ancestor,jdbcType=INTEGER},
      descendant = #{descendant,jdbcType=INTEGER},
      depth = #{depth,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>